@import url("base.css");

/* =================================
   DROPDOWNS
   ================================= */

.dropdown-container,
.sidebar-dropdown-container {
  position: relative;
  display: inline-block;
}

.dropdown-unit,
.dropdown-search,
.dropdown-sidebar {
  display: flex;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  z-index: 10;
  flex-direction: column;
  justify-content: center;
  margin-top: var(--spacing-100);
  padding: var(--spacing-100) var(--spacing-075);
  background-color: var(--neutral-800);
  border: 1px solid var(--neutral-600);
  border-radius: var(--radius-12);
  box-shadow: 0px 8px 16px 0px rgba(2, 1, 44, 0.32);
  transform: translateY(-10px);
  transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s;
}

.dropdown-unit,
.dropdown-sidebar {
  top: 100%;
  left: auto;
  right: 0;
  width: 21.4rem;
}

.dropdown-search {
  top: 100%;
  left: 0;
  right: auto;
  width: 100%;
  margin-top: var(--spacing-150);
}

.dropdown-unit.show,
.dropdown-search.show,
.dropdown-sidebar.show {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

.icon-dropdown {
  transition: transform 0.3s ease;
}

.unit.show .icon-dropdown,
.sidebar-button.show .icon-dropdown {
  transform: rotate(180deg);
}

/* =================================
   BUTTONS
   ================================= */

.unit {
  display: flex;
  align-items: center;
  gap: var(--spacing-125);
  padding: var(--spacing-150) var(--spacing-200);
  background-color: var(--neutral-800);
  color: var(--neutral-0);
  border: none;
  border-radius: var(--radius-8);
}

.unit:hover {
  background-color: var(--neutral-700);
}

.unit:active {
  box-shadow: inset 0 0 0 2px var(--neutral-0);
}

.button-switch {
  padding: var(--spacing-125) var(--spacing-100);
  background-color: var(--primary-600);
  color: var(--neutral-0);
  border: none;
  border-radius: var(--radius-8);
  text-align: left;
  cursor: pointer;
  transition: all 0.1s ease;
}

.button-switch:hover {
  background-color: var(--neutral-600);
}

.button-switch:active {
  box-shadow: inset 0 0 0 2px var(--neutral-0);
}

.button-search {
  background-color: var(--blue-500);
  border: none;
  padding: var(--spacing-200) var(--spacing-300);
  border-radius: var(--radius-12);
  color: var(--neutral-0);
  cursor: pointer;
  flex-shrink: 0;
  width: auto;
  transition: all 0.1s ease;
}

.button-search:hover {
  background-color: var(--blue-700);
}

.button-search:active {
  box-shadow: inset 0 0 0 2px var(--blue-500);
}

.sidebar-button {
  background-color: var(--neutral-600);
  border: none;
  padding: var(--spacing-100) var(--spacing-200);
  border-radius: var(--radius-8);
  color: var(--neutral-0);
  cursor: pointer;
  transition: all 0.1s ease;
}

.sidebar-button:hover {
  background-color: var(--neutral-700);
}

.sidebar-button:active {
  box-shadow: inset 0 0 0 2px var(--neutral-0);
}

/* =================================
   UNITS DROPDOWN
   ================================= */

.unit-box:not(:last-child) {
  border-bottom: 1px solid var(--neutral-600);
  padding-bottom: var(--spacing-100);
  margin-bottom: var(--spacing-100);
}

.unit-box-text {
  padding: var(--spacing-075) var(--spacing-100) 0 var(--spacing-100);
  margin-bottom: var(--spacing-100);
  color: var(--neutral-300);
}

.unit-list {
  list-style-type: none;
}

.unit-list-item {
  padding: var(--spacing-100) var(--spacing-125);
  border-radius: var(--radius-8);
  list-style: none;
}
.dropdown-search-list-item,
.dropdown-sidebar-list-item {
  padding: var(--spacing-100) var(--spacing-125);
  border-radius: var(--radius-8);
  cursor: pointer;
  list-style: none;
}

.unit-list-item.active,
.dropdown-sidebar-list-item.active {
  background-color: var(--neutral-700);
}

.dropdown-search-list-item.active {
  background-color: var(--neutral-700);
  border: 1px solid var(--neutral-600);
}

.dropdown-search-list-item:hover {
  background-color: var(--neutral-600);
}

.dropdown-search-list-item:active {
  box-shadow: inset 0 0 0 2px var(--neutral-0);
}

/* =================================
   SEARCH SECTION
   ================================= */

.primary-heading {
  text-align: center;
  margin: var(--spacing-800) 0;
}

.section-search {
  display: flex;
  align-items: center;
  gap: var(--spacing-200);
  width: 50%;
  max-width: 650px;
  margin: 0 auto;
  flex-direction: row;
}

.search-input-wrapper {
  position: relative;
  flex-grow: 1;
  width: 100%;
}

.input-search {
  flex-grow: 1;
  background-image: url("../images/icon-search.svg");
  background-color: var(--neutral-800);
  background-position: var(--spacing-200) center;
  background-repeat: no-repeat;
  padding: var(--spacing-200) var(--spacing-300);
  padding-left: var(--spacing-600);
  border: none;
  border-radius: var(--radius-12);
  color: var(--neutral-200);
  width: 100%;
  cursor: pointer;
}

.input-search::placeholder {
  color: var(--neutral-200);
}

/* =================================
   WEATHER CARDS
   ================================= */

.current-weather-card {
  background-color: var(--neutral-800);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 250px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--spacing-300) var(--spacing-1000);
  border-radius: var(--radius-20);
  margin: 0;
}

.current-weather-card .left {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-200);
}

.current-weather-card .right {
  display: flex;
  align-items: center;
}

.weather-card_date {
  opacity: 0.8;
}

.weather-card_icon {
  width: 12rem;
  height: auto;
}

.card {
  background-color: var(--neutral-800);
  padding: var(--spacing-250);
  border-radius: var(--radius-20);
  border: 2px solid var(--neutral-600);
}

.card-info {
  color: var(--neutral-200);
  margin-bottom: var(--spacing-300);
}

/* =================================
   DAILY FORECAST
   ================================= */

.day-card {
  background-color: var(--neutral-800);
  padding: var(--spacing-200) var(--spacing-125);
  border: 1px solid var(--neutral-600);
  border-radius: var(--radius-12);
  text-align: center;
}

.day-card_day {
  margin-bottom: var(--spacing-200);
}

.day-card_icon {
  width: 6rem;
  height: auto;
  margin-bottom: var(--spacing-200);
}

.day-card_temperatures {
  display: flex;
  justify-content: space-between;
  gap: var(--spacing-100);
  margin-top: var(--spacing-100);
}

.day_card_temp-min {
  color: var(--neutral-200);
}

/* =================================
   SIDEBAR
   ================================= */

.sidebar {
  background-color: var(--neutral-800);
  padding: var(--spacing-300);
  border-radius: var(--radius-20);
  position: relative;
  display: flex;
  flex-direction: column;
  height: fit-content;
}

.sidebar-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: var(--spacing-200);
}

.sidebar-list-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--spacing-200);
  padding: var(--spacing-150) var(--spacing-125);
  background-color: var(--neutral-700);
  border: 1px solid var(--neutral-600);
  cursor: pointer;
  border-radius: var(--radius-8);
}

.sidebar-list-item_left {
  display: flex;
  align-items: center;
  gap: var(--spacing-100);
}

.sidebar-list-item_icon {
  width: 4rem;
  height: auto;
}

.loader-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;

  padding: var(--spacing-100) var(--spacing-250);
  gap: var(--spacing-300);
}

/* LOADER */
.loader {
  color: #fff;
  font-size: 3px;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  animation: mulShdSpin 1.3s infinite linear;
  transform: translateZ(0);
}

@keyframes mulShdSpin {
  0%,
  100% {
    box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em,
      0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
  }
  12.5% {
    box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em,
      0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  25% {
    box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0,
      0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  37.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em,
      0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  50% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em,
      0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  62.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em,
      0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
  }
  75% {
    box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em,
      0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
  }
  87.5% {
    box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em,
      0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
  }
}

/* =================================
   RESPONSIVE DESIGN
   ================================= */

@media (max-width: 868px) {
  .section-search {
    flex-direction: column;
    width: 80%;
  }

  .button-search {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .current-weather-card {
    padding: var(--spacing-300) var(--spacing-400);
    flex-direction: column;
    text-align: center;
    gap: var(--spacing-300);
  }

  .current-weather-card .left {
    align-items: center;
  }

  .weather-card_icon {
    width: 8rem;
  }
}

@media (max-width: 650px) {
  .section-search {
    width: 85%;
  }

  .current-weather-card {
    min-height: auto;
    padding: var(--spacing-300);
  }
}

@media (max-width: 600px) {
  .section-search {
    width: 90%;
  }
}

@media (max-width: 400px) {
  .section-search {
    width: 95%;
  }
}
